<h1>To Doooo!</h1>

<div ng-app="app">
  <div ng-controller="stuffCtrl">
<!--     {{ message }}
  </div>
  <div ng-controller="appTwo">
    {{ message }}
  </div>
  <div ng-controller="appThree">
    {{ message }} -->
    <div ng-repeat="todo in todos track by $index" 
        ng-click="deleteTodo($index)"
        ng-if="isPositive(todo)">{{ todo }}</div>

    <div class="form">
      <input type="text" ng-model="newTodo">
      <button ng-click="addTodo(newTodo)">Add To-Do Task </button>
    </div>
  </div>
</div>
 <!--    <div ng-if="newText == video.large">
    </div> -->
      
