<h1>To Doooo!</h1>

<div ng-app="app">
  <div ng-controller="stuffCtrl">
<!--     {{ message }}
  </div>
  <div ng-controller="appTwo">
    {{ message }}
  </div>
  <div ng-controller="appThree">
    {{ message }} -->
    <div ng-repeat="todo in todos track by $index" 
        ng-click="completeTask($index)"
        div ng-class="{strike: todo.text}">


    <h3>{{ todo.text }}</h3>
    <br>
    </div>

    <div class="form">
      <input type="text" ng-model="newTodoText">
      <button ng-click="addTodo(newTodoText)">Add To-Do Task </button>
    </div>
  </div>
</div>
 <!--    <div ng-if="newText == video.large">
    </div> -->
      
